<div class="form-inline clearfix">
   <div class="nested-fields">
      <%= f.input :step, label: "Steps", input_html: {class: "form-input form-control"}%>
      <%= link_to_remove_association 'remove direction', f, class: "add-button btn btn-primary" %>
   </div>
</div>