<% @recipe.each do |recipe| %>
   <h2><%= link_to recipe.title, recipe %></h2>
   <%= link_to recipe do%>
      <%= image_tag(recipe.image.url(:medium))%>
   <% end %>
   <%= recipe.created_at.strftime("created at %B %d at %I:%M %p") %>
<% end %>
<br> 